<header class="navi">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="menu">
    <li>
      <a href="index.html" class="logo-link">
        <img src="{{ '/img/MCD_Logo_w.png' | relative_url }}" alt="MCDロゴ" />
      </a>
    </li>
    <li><a href="index.html">トップ</a></li>
    <li><a href="about.html">事業紹介</a></li>
    <li><a href="technology.html">M.C.Dの技術</a></li>
    <li><a href="works.html">仕事の流れ</a></li>
    <li><a href="recruit.html">求人情報</a></li>
  </ul>
</header>
