<header class="navi">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="menu">
    <li>
      <a href="/index.html" class="logo-link">
        <img src="../img/MCD_Logo_w.png" alt="MCD" />
      </a>
    </li>
    {% if page.special_header %}
    <li><a href="/index.html#top">トップ</a></li>
    <li><a href="/index.html#about">事業紹介</a></li>
    <li><a href="/index.html#Works">M.C.Dの技術</a></li>
    <li><a href="/index.html#flow">仕事の流れ</a></li>
    <li><a href="/index.html#company">会社情報</a></li>
    <li><a href="/index.html#recruit">求人情報</a></li>
    {% else %}
    <li><a href="#top">トップ</a></li>
    <li><a href="#about">事業紹介</a></li>
    <li><a href="#Works">M.C.Dの技術</a></li>
    <li><a href="#flow">仕事の流れ</a></li>
    <li><a href="#company">会社情報</a></li>
    <li><a href="#recruit">求人情報</a></li>
    {% endif %}
  </ul>
</header>
