<header class="navi">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="menu">
    <li>
      <a href="index.html" class="logo-link">
        <img src="{{ '/img/MCD_Logo_w.png' | relative_url }}" alt="MCDロゴ" />
      </a>
    </li>
    <li><a href="https://j-mcd3115.github.io/mcd/">トップ</a></li>
    <li><a href="https://j-mcd3115.github.io/mcd/about">事業紹介</a></li>
    <li><a href="https://j-mcd3115.github.io/mcd/technology">M.C.Dの技術</a></li>
    <li><a href="https://j-mcd3115.github.io/mcd/works">仕事の流れ</a></li>
    <li><a href="https://j-mcd3115.github.io/mcd/recruit">求人情報</a></li>
  </ul>
</header>
